.navbar-all{
padding: 0 5%;
}
.header-all{
    margin-bottom: 5rem;
}
.header-header-link{
    text-decoration: none;
}
.header-header-name{
font-size: 2.5rem;
}

.header-first-word{
    color: rgb(255, 10, 10);
}
.header-links{
    text-decoration: none;
    color: inherit;
}
/* .nav-item.dropdown{
    margin-left: 8px;
} */
/* overriding the default */
/* .mb-3{
    margin-bottom: 0 !important;
} */