.card {
  width: 18rem;
  height: auto;
  box-shadow: none;
  margin: 1% 1% 2%;
}
.recommended-videos {
  /* margin: 0% 2%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.save-to-playlist{
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 0;
}
.save-to-playlist:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.h3 {
  margin: 0% 5%;
  font-size: 2rem;
  margin: 2% 5%;
  font-weight: bolder;
}
.card:hover {
  z-index: 999;
  transform: scale3d(1.2, 1.2, 1.5);
}
.card-description {
  margin: 0 1.2rem;
  margin-left: auto;
  font-weight: bolder;
}
.recommended-videos .card-img-top{
  max-height: 10rem;
} 
.watch-now-link{
  text-decoration: none;
  color: #ffffff;
  border-radius: 0;
  width: 100%;
}
.btn.btn-secondary.btn-lg,.btn.btn-info.btn-lg{
  border-radius: 0;
}
@media screen and (max-width: 760px) {
  .recommended-videos {
    margin: 0;
  }
}
