.video-description{
    position: fixed;
    margin-top: 29.3%;
    width: 61%;
    margin-left: 2rem;
    transform: none !important;
    transition: none !important;
}

@media screen and (max-width: 760px) {
    .video-description{
        position: absolute;
        margin-top:-4.3%;
        width: 93%;
        margin-left: 2rem;
    }
  }

  