.video-content {
  width: 60vw;
  height: 60vh;
  margin-left: 2rem;
  position: fixed;

}
.video-body {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
/* .newplaylist {
  top: 0;
  right: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 2rem;
} */
.must-watch-content {
  margin-left: auto;
  margin-right: 6rem;
}
.must-watch-src-image{
  height: 8rem;
}
@media screen and (max-width: 760px) {
  .video-body {
    flex-direction: column;
  }
  .must-watch-content {
    margin: 0;
    margin-top: 8rem;
  }
  .video-content {
    margin: auto;
    width: 90vw;
    position: relative;
    margin-bottom: 2rem;
  }

}
