.video-content {
  width: 60vw;
  height: 60vh;
  margin-left: 2rem;
  margin-bottom: 2rem;
  position: fixed;
}
.video-body {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.newplaylist {
  top: 0;
  right: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 2rem;
}
.must-watch-content {
  margin-left: auto;
  margin-right: 12rem;
}
@media screen and (max-width: 760px) {
  .video-body {
    flex-direction: column;
  }
  .must-watch-content {
    margin: 0;
  }
  .video-content {
    margin: auto;
    width: 90vw;
    position: relative;
    margin-bottom: 2rem;
  }
}
